*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;

}
.card{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px
}

.card-header{
    height: 30%;
}
.card-header {
    background: #262626;
    border-radius: 10px 10px 50% 50%;
    
}
.card:nth-child(odd) {
    box-shadow: 0px 0px 12px #262626
}
.card:nth-child(2) .card-header{
    border-bottom: 1px solid #43a55c
}
.card-header span{
    display:block;
    text-align: center;
    text-transform: capitalize
 }
 .card:nth-child(odd) span {
    color:white;
}
.card-header span:first-child{
    padding-top: 30px;
    font-size: 25px;
}
.card-header span:last-child{
    padding-top: 15px;
    font-size: 18px;
}
.card:nth-child(2){
    background: #262626;
    color:#43a55c 
    
}
.card-content{
    height: 40%;
}
.card-content ul{
    list-style-type: none;
    margin-top: 40px
}
.card-content ul li{
    padding-bottom: 16px;
    font-size: 20px;
    text-transform: lowercase;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: 0.3s
}
.card:nth-child(odd) .card-content ul li:hover{
    border-left: 4px solid #262626;
    border-right: 4px solid #262626
}
.card:nth-child(2) .card-content ul li:hover{
    border-left: 4px solid #43a55c;
    border-right: 4px solid #43a55c
}
.card-footer{
    height: 10%;
}
.card-footer a{
    text-decoration: none;
    color:white;
    padding: 12px 20px;
    background: #262626;
    border-radius: 10px;
    font-weight: bold
}
.card:nth-child(2) a{
    color:#43a55c;
    border: 1px solid #43a55c
}
@media(max-width:500px){
    .container{
        display: block
    }
    .card{
        margin-bottom: 20px ;
    }
    .card:nth-child(2){
        order: 1
    }
    .card:nth-child(1){
        order: 2
    }
    .card:nth-child(3){
        order: 3
    }
}